@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
    --grey900: hsl(0, 0%, 8%);
}

* {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

body {
    background: var(--grey900);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card_ctn {
    background: var(--grey800);
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    width: 350px;
    padding: 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_ctn .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile .name {
    color: var(--white);
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

.profile .place {
    color: var(--green);
    font-weight: 400;
    font-size: 12px;
    margin: 5px 0;
}

.profile .job {
    color: var(--white);
    opacity: 0.7;
    font-size: 12px;
    margin: 2rem 0 0 0;
    text-align: center;
}

.hoverBtn {
    background: var(--grey700);
    color: var(--white);
    width: 100%;
    text-align: center;
    padding: 12px 0;
    border-radius: 8px;
    margin: 8px 0;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: 700;
}

.hoverBtn:hover {
    background: var(--green);
    color: var(--grey900);
    font-weight: 700;
}