@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');
:root {
    --white: hsl(0, 0%, 100%);
    --yellow: hsl(47, 88%, 63%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --gray500: hsl(0, 0%, 42%);
    --gray950: hsl(0, 0%, 7%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Figtree', sans-serif;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.card_ctn {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 10px 10px rgba(0, 0, 1, 1);
    max-width: 375px;
    overflow: hidden;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .card_ctn {
        max-width: 95%;
        min-height: 550px;
    }

    .card_img img {
        width: 100%;
        height: auto;
    }
}

.card_img {
    margin-bottom: 20px;
}

.card_content {
    flex: 1;
}

.label {
    background-color: var(--yellow);
    width: 75px;
    padding: 5px;
    border-radius: 3px;
    font-size: 11px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 10px;
}

.publish_date {
    font-size: 13px;
    margin-bottom: 10px;
}

.title {
    margin-bottom: 10px;
}

.title:hover {
    color: var(--yellow);
    cursor: pointer;
}

.text {
    color: var(--gray500);
    line-height: 1.2;
    margin-bottom: 20px;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: var(--slate-500);
}
.attribution a { 
    color: var(--slate-900); 
}