@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');
:root {
    --white: hsl(0, 0%, 100%);
    --yellow: hsl(47, 88%, 63%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --gray500: hsl(0, 0%, 42%);
    --gray950: hsl(0, 0%, 7%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Figtree', sans-serif;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.card_ctn {
    background-color: var(--white);
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 10px 10px rgba(0, 0, 1, 1);
    max-width: 384px;
    overflow: hidden;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .card_ctn {
        max-width: 365px;
        height: 550px;
    }
}

.card_img {
    margin-bottom: 24px;
}

.card_img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card_content {
    flex: 1;
}

.label {
    background-color: var(--yellow);
    width: 6rem;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--gray950);
}

.publish_date {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    color: var(--gray950);
}

.title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 1.5;
    color: var(--gray950);
}

.title:hover {
    color: var(--yellow);
    cursor: pointer;
}

.text {
    color: var(--gray500);
    line-height: 1.5;
    margin-bottom: 2.5rem;
    font-size: 1.1rem;
    font-weight: 500;
}

@media screen and (min-width: 500px) {
    .title {
        font-size: 24px;
    }
    .text {
        font-size: 16px;
    }
    .publish_date {
        font-size: 14px;
    }
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

.name {
    font-weight: 800;
    font-size: 14px;
    color: var(--gray950);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: var(--slate-500);
}
.attribution a { 
    color: var(--slate-900); 
}